<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${title} ?: 'Products List'">Products List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<section layout:fragment="content" class="container">
    <div class="mt-5" sec:authorize="hasAuthority('ADMIN')">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
            <tr>
                <th>Products Name</th>
                <th>Giá</th>
                <th>Ảnh</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${productPage.content}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td>
                    <img th:src="@{${product.image}}" alt="Product Image" width="200px" height="150px">
                </td>
                <td>
                    <a th:href="@{/product/edit/{id}(id=${product.id})}" class="btn btn-success btn-sm">Edit</a>
                    <a th:href="@{/product/delete/{id}(id=${product.id})}"
                       class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div sec:authorize="hasAuthority('USER')">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <div th:each="product : ${productPage.content}" class="col">
                <div class="card h-100 shadow-sm">
                    <a th:href="@{/products/{id}(id=${product.id})}" style="text-decoration: none;" class="text-dark">
                        <img th:src="@{${product.image}}" class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${product.name}"></h5>
                            <p class="card-text" th:text="${product.description}"></p>
                            <p class="card-text"><small class="text-muted" th:text="'Price: $' + ${product.price}"></small></p>
                        </div>
                    </a>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <form th:action="@{/cart/add}" method="post" class="d-inline-block">
                            <div class="input-group">
                                <input type="number" name="quantity" min="1" th:max="${product.quantityInStock}" value="1" class="form-control form-control-sm" style="width: 70px;">
                                <input type="hidden" th:value="${product.id}" name="productId"/>
                                <button type="submit" class="btn btn-warning btn-sm" style="margin-left:5px">Add to Cart</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <ul class="pagination mt-3 justify-content-end"> <!-- Sử dụng justify-content-end để căn phải -->
            <li class="page-item" th:classappend="${productPage.first} ? 'disabled'">
                <a class="page-link" th:href="@{${paginationUrl}(page=${productPage.number - 1}, size=${productPage.size})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, productPage.totalPages - 1)}"
                th:classappend="${i == productPage.number} ? 'active'">
                <a class="page-link" th:href="@{${paginationUrl}(page=${i}, size=${productPage.size})}" th:text="${i + 1}">1</a>
            </li>
            <li class="page-item" th:classappend="${productPage.last} ? 'disabled'">
                <a class="page-link" th:href="@{${paginationUrl}(page=${productPage.number + 1}, size=${productPage.size})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>


</section>
</body>
</html>
